.DS_Store
#/.build
#/Packages
.build/
Packages/
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
Pods/
*.lock
*.xcworkspace
*.xccheckout1
*.xcscmblueprint
*.temp
playground.xcworkspace
